.z-index-1000{
    z-index: 1000;
}
.dialog-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 ::ng-deep .css-1gnz8kn-MuiBottomNavigation-root{
    height: 20px;
  }


  #page-content.dialog-open {
    filter: blur(2px);
    transition: filter 0.3s ease;
}
