::-webkit-scrollbar {
    width: 2px;
  }

  /* ::-webkit-scrollbar-track {
    background: #f1f1f1;
  } */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

  ::-webkit-scrollbar-corner {
    display: none;
  }

  #page-content.dialog-open {
    filter: blur(2px);
    transition: filter 0.3s ease;
}