.bottom{
    bottom: 0;
    /* width:83%; */
    /* position: sticky; */
}

@keyframes scrollTitle {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }

}